.App-logo {
    margin-left: 27%;
}
.navbar-section {
    
        box-sizing: unset;
    
}

span.text-secondary {
    color: #650D14 !important;
    text-decoration: none;
}

span.text-secondary:hover {
    font-weight: bold;
    text-decoration: none !important;
    text-underline-position: none;
}

a.btn.btn-link.text-secondary {
    text-decoration: none;
}

a.btn.btn-link {
    text-decoration: none;
}

h2 {
    color: #650D14;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    color: #650D14;
    font-size: 12px;
    text-transform: uppercase;
}

.menu-img {
    width: 100vw;
    position: relative;
    text-align: center;
    color: white;
}

.order-img {
    width: 100vw;
    position: relative;
    text-align: center;
    color: white;
}

.home-img {
    width: 100vw;
    position: relative;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    bottom: 200px;
    left: 13%;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

p {
    font-size: 12px;
    line-height: 2;
}

button.btn.btn-primary {
    color: #fff;
    background-color: #075740;
    border-color: #075740;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
}

div.container {
    margin-top: 50px;
}

.home-info {
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-style: none;
    /* border: 1px solid #fff(0, 0, 0, .125);
    border-radius: .25rem; */
}

.soy{
    line-height: 15px;
}



.form-horizontal {
    margin-left: 40%;
    text-align: left;
    width: 100%;
}

/* .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
} */

.form-label {
    font-weight: bold;
}

/* h4 .login-content {
    margin-left: 40%;
} */

button.btn.btn-primary {
    color: #fff;
    background-color: #075740;
    border-color: #075740;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 45%;
    margin-top: -50px;
}

.special {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-color: black;
    border-width: thin;
}

.form-input {
    padding: 5px;
}

.btn-dark {
    color: #fff;
    background-color: #075740;
    border-color: #075740;
}

.item-title{
    margin-left: 15px;
}

.form-control {
    width: 90%;
    margin-left: 15px;
}

.modal-btn {
    width: 90%;
    margin-left: 15px;
}
.shopping-list {
    text-align: center;
}
.navbar {
    padding: 10px !important;
}